{% extends "layout.html" %}

{% block body %}
<home>
<h2>About Me:</h2>
<p>As a Full-Stack Developer, I specialize in crafting robust web applications<br> using Django, Flask, and React. With a passion for building elegant solutions,<br> I bring creativity and expertise to every project I undertake.</p>
<h2>Skills:</h2>
<ul>
    <li>Frontend Development: React.js</li>
    <li>Backend Development: Django, Flask</li>
    <li>Database Management: SQL </li>
    <li>Version Control: Git</li>
</ul>
</home>

{% endblock %}